# Jupyter
.ipynb_checkpoints/
.virtual_documents/

# Anaconda
anaconda_projects/

# Python
__pycache__/
*.pyc
.env

# Processing
*.class
*.jar
*.exe
*.log
*.tmp
*.svg
*.zip
*.mp4
*.mov
frames/


# OS files
.DS_Store
Thumbs.db

# Unity
Library/
Temp/
Obj/
*.csproj
*.unityproj
*.sln

# Node / Three.js
node_modules/
.vscode/
dist/
.env

# Node
node_modules/
dist/
.vite/

# React
.env
.DS_Store
